* {
    box-sizing: border-box;
  }


h1{
    color:goldenrod;
    text-align: center;
    font-style: italic;
    text-decoration: greenyellow;
    font-style: oblique;
    margin-top: 0px;
    
}
.body{
    background-color: silver;
    margin: auto;


}

.p {
    color: black;
    text-align: center;
    font-size: large;
    margin-top: 50px;

}
.p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }
  

  .h2,nav {
    float: right;
    width: 30%;
    height: 50px; 
    padding: 20px;
    text-align: right;
  background-color: honeydew;
  margin-left: 50px;
  }

.form,div{
    text-align: center;

}
.body,img {
         width: 200px; 
         height: 200px; 
         display: block;  
         margin-left:100px ;   
         margin-top: 50px;
}
